<style>
    body {
        text-align: center;
        font-family: 'Quicksand', sans-serif;
    }
    
    h1 {
        margin-top: 2%;
        font-weight: bold;
    }

    h2 {
        text-align: center;
        font-weight: 700;
        border-top: 0px solid #000;
        margin-top: 20px;
        margin-bottom: 2px;
        padding-bottom: 0.1%;
        position: relative;
    }

    h2:after {
        content: '';
        display: block;
        width: 96%;
        height: 1px;
        background: #000;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    ul {
        margin-bottom: 2%;
        text-align: left;
        margin-left: 3%;
    }

    a {
        color: blue;
    }

    .cv-button {
        display: inline-block;
        padding: 5px 10px;
        background-color: #a200ff;
        color: rgb(255, 232, 232);
        text-align: center;
        border-radius: 100px;
        text-decoration: salmon;
        transition: background-color 0.3s ease, transfor 0.3s ease;
        margin-bottom: 2%;
    }

    .cv-button:hover {
        background-color: #3c00b3;
        transform: scale(0.95);
    }
</style>

<html>
  <head>
    <title>Curriculum Vitae</title>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c24dc808e.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
        <h1>Jeffrey Chang - Curriculum Vitae</h1>
        <p>ICT Student @ KTH Royal Institute of Technology</p>
        <a href="https://www.linkedin.com/in/zwjc"> LinkedIn</a>   <a href="https://www.github.com/zwjc"> GitHub</a>


    </header>

    <section>
      <h2>Experience</h2>
      <ul>
        <li>Project Manager - THS Armada, 2024</li>
            <ul><li>Test</li></ul>
        <li>Head of Logistics and Fair - THS Armada, 2023</li>
        <li>Head of Career Fair - THS Armada, 2022</li>
        <li>THS Union Board - Tekniska H&ouml;gskolans Studentk&aring;r, 2023</li>
      </ul>
    </section>

    <section>
      <h2>Education</h2>
      <ul>
        <li>BSc in Information and Communication Technology, KTH, 2020-2023</li>
        <li>MScEng in Industrial Management and Engineering, KTH, 2024-2026</li>
        <li>Civ.ing. Informationsteknik, KTH, 2020-2026</li>
      </ul>
    </section>

    <section>
      <h2>Skills</h2>
      <ul>
        <li>Hard Skills: Java, C, C#, React, Javascript, Web development, Git, HTML, Elixir, Ubuntu, VSCode, VirtualBox</li>
        <li>Soft Skills: Project Management, Leadership, Communication, Conflict resolution, Problem-solving, Teamwork</li>
      </ul>
    </section>

    <section>
      <h2>Courses</h2>
      <ul>
        <li>ID1019 - Programming I, ID1020 - Programming II</li>
        <li>ID1021 - Algorithms and Data Structures, ID1206 - Operativsystem</li>
        <li>IV1303 - Modern Software Development, II1305 - Project in ICT</li>
        
        <li>DH2642 - Dynamic Web and Interaction Programming</li>
        <li>Fler kurser...</li>

      </ul>
    </section>

    <section>
      <h2>Projects</h2>
      <ul>
        <li>Game development using Unity3D enginge, Blender and Git</li>
        <li>Website and frontend development</li>
        <li>Dynamic Website Development with React</li>
        <li>Snake game on PIC32</li>
      </ul>
    </section>


  </body>

      <a href="/" class="cv-button">Back</a>
</html>
