<html>
  <head>
    <title>Curriculum Vitae</title>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c24dc808e.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1>Jeffrey Chang</h1>
      <p>ICT Student @ KTH Royal Institute of Technology</p>
    </header>

    <section>
      <h2>Experience</h2>
      <ul>
        <li>Project Manager - THS Armada, 2024</li>
      </ul>
    </section>

    <section>
      <h2>Education</h2>
      <ul>
        <li>BSc + MScEng in Information Technology, KTH, 2020-2026</li>
      </ul>
    </section>

    <section>
      <h2>Skills</h2>
      <ul>
        <li>Make website? not really</li>
        <li>Do Armada</li>
      </ul>
    </section>

  </body>

      <a href="/" class="cv-button">Back</a>
<style>
    body {
        font-family: 'Quicksand', sans-serif;
    }
    
    h1, h2 {
        font-weight: 700;
    }

  .cv-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #a200ff;
    color: rgb(255, 232, 232);
    text-align: center;
    border-radius: 100px;
    text-decoration: salmon;
    transition: background-color 0.3s ease, transfor 0.3s ease;
  }

  .cv-button:hover {
    background-color: #3c00b3;
    transform: scale(0.95);
  }
</style>
</html>
