<html>
  <head>
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" href="/path/to/your/css">
  </head>
  <body>
    <header>
      <h1>Jeffrey Chang</h1>
      <p>ICT Student @ KTH Royal Institute of Technology</p>
    </header>

    <section>
      <h2>Experience</h2>
      <ul>
        <li>Project Manager - THS Armada, 2024</li>
      </ul>
    </section>

    <section>
      <h2>Education</h2>
      <ul>
        <li>BSc + MScEng in Information Technology, KTH, 2020-2026</li>
      </ul>
    </section>

    <section>
      <h2>Skills</h2>
      <ul>
        <li>Make website?</li>
        <li>Do Armada</li>
      </ul>
    </section>

  </body>
</html>
