<!DOCTYPE html>
<html lang="en">




<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeffrey Chang</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c24dc808e.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Quicksand', sans-serif;
        }

        .bottom-text {
            position: absolute;
            bottom: 0;
            text-align: center;
            margin-top: 20px;
        }

        .text-tl, .text-tr, .text-bl, .text-br {
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .bottom-text > a {
            margin-bottom: 10px;
        }

        .text-tl, .text-tr, .text-bl, .text-br {
            width: 100%;
        }
    </style>
</head>

<body class="bg-zinc-200 text-stone-700 min-h-screen flex flex-col items-center py-10 gap-y-4">
    <h1 class="text-5xl">Jeffrey Chang</h1>
    <h3>Welcome to one of the websites of all time!</h3>
    <a href="/cv" class="cv-button">View My CV</a>

    <div class="flex max-w-xl">
        <img class="w-80 h-80 rounded" src="../assets/image1.jpg" alt="Cool Jeffrey" />
        <img class="w-80 h-80 rounded" src="../assets/image1.jpg" alt="Formal Jeffrey" />
    </div>
    <div class="grid grid-cols-2 gap-y-5 max-w-xl">
        <h3 class="text-center text-xl col-span-2">
            A bit about me
        </h3>
        <div class="text-tl" style="width: 100%; font-size: 16px; line-height: 1.5;">
            I'm currently studying my fourth year in Information Technology at KTH Royal Institute of Technology.
            It's the Swedish 5-year program called "Civilingenjör", which is the international equivalent to a bachelors and masters degree!
            
        </div>
        <div class="text-tr" style="width: 100%; font-size: 16px; line-height: 1.5;">
            I have an interest in both project management and frontend development.
            Apart from studying, I like to spend time at the student union at KTH, THS
            through the THS Union Board, THS Armada, THS International Reception and much more!
        </div>
        <div class="text-bl" style="width: 100%; font-size: 16px; line-height: 1.5;">
            But back to the IT stuff. I have taken a lot of backend programming courses such as:
            Algorithms and Data Structures, Computer Hardware Engineering, Programming I & II,
            Operating Systems, but also some frontend courses.
        </div>
        <div class="text-br" style="width: 100%; font-size: 16px; line-height: 1.5;">
            Now, if you are interested in what you have read so far,
            I have a fantastic LinkedIn and Email for you to contact me from!
            With more details about me and what I do in the LinkedIn.
        </div>
    </div>
            <div class="text-center">
                <h3 class="text-xl">Reach out to me at</h3>
                <i class="fa-brands fa-linkedin-in fa-bounce" style="color: #0042aa;"></i>
                <a class="underline" href="https://www.linkedin.com/in/zwjc"> LinkedIn</a>
            <br>
            <i class="fa-regular fa-at fa-bounce" style="color: #000000;"></i>
            <a class="underline" href="mailto:zw.jchang@gmail.com"> Email</a>
            </div>
    </body>
</html>

<style>
  .cv-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #a200ff;
    color: rgb(255, 232, 232);
    text-align: center;
    border-radius: 100px;
    text-decoration: salmon;
    transition: background-color 0.3s ease, transfor 0.3s ease;
  }

  .cv-button:hover {
    background-color: #3c00b3;
    transform: scale(0.95);
  }
</style>
